body {
  color: #3a3d3d;
  font-size: 14pt;
  background-image: url(../img/img2.jpg);
}
.output {
  display: none;
  margin-top: 20px;
  margin-left: 2%;
  font-weight: bold;
}
.jumbotron {
  text-align: center;
  color: white;
  height: 250px;
  background-image: url(../img/img1.jpg);
}
h1 {
  padding-top: 12px;
}
span.capitalize{
  text-transform: capitalize;
}
input.form-control {
  width: 40%;
}

form#userInput {
  font-size: 13pt;
}
.result {
  font-size: 15pt;
}

#outputHeading {
  font-size: 14pt;
}
footer {
  font-size: 1.1em;
  margin-top: 60%;
  padding: 20px 50px;
  color: white;
  border-radius: 5px;
}
 footer li {
   display: inline;
   margin: 0 80px;
   color: #938d8f;
 }
 span.bold {
   font-weight: bold;
 }
